.hs-cotainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 272px;
  width: 100vw;
}

.hs-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--css-white);
  background-color: var(--css-black);
}

.hs-img-frame {
  width: 212px;
  height: 212px;
}

.hs-img {
  width: 100%;
  height: 100%;
}
