.card-wrapper {
  height: 235px;
  width: 160px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 10px;
}

.hs-content h1 {
  text-align: center;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-img-frame {
  width: 100%;
  height: 170px;
}

.card-img-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  height: 30px;
  background-color: var(--css-white);
}

.card-content-pill {
  background-color: var(--css-black);
  color: var(--css-white);
  border-radius: 10px;
  padding: 4px 8px;
  flex: 1;
  margin-left: 7px;
  font-size: 10px;
}

.card-label {
  height: 30px;
  color: var(--css-white);
}
